<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="app_header">
    <%= link_to "Back", splash_index_path %>
    <h2>Register</h2>
    <%= f.submit "Sign up" %>
  </div>
  <div class="post_form_element">
    <%= f.text_field :name, class:"input_from", placeholder: "Name", autofocus: true %>
    <%= f.email_field :email, class:"input_from", placeholder: "Email" %>

    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
    <%= f.password_field :password, class:"input_from", placeholder: "Password" %>

    <%= f.password_field :password_confirmation, class:"input_from", placeholder: "Password confirmation" %>
  </div>
<% end %>
